@{
    ViewBag.Title = "荣誉资质";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div id='content' style='width:1002px;height:470px;background:url(@Url.Content("~/Resource/effect/source/bg/cbg.png")) repeat-y;margin:0px auto'>

   
 
    <!-- 当前位置提示条 -->

    <div id='pdv_16683' class='pdv_class'  title='' style='width:750px;height:39px;top:18px;left:230px; z-index:5'>
        <div id='spdv_16683' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
            @*<div class="pdv_border" style="border:0px;background:url(@Url.Content("~/Resource/base/border/788/images/title.png")) 0 0 no-repeat;padding:0px;margin:0px;height:100%;">
 
                <link href="@Url.Content("~/Resource/page/templates/css/nav.css")) rel="stylesheet" type="text/css" />
               

            </div>*@

        </div>
    </div>

    <!-- 全站翻页图片列表 -->

    <div id='pdv_16699' class='pdv_class'  title='' style='width:746px;height:394px;top:74px;left:100px; z-index:6'>
        <div id='spdv_16699' class='pdv_content' style='overflow:visible;width:100%;'>
            <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
              
                <div style="padding:0px">

                    <link href="@Url.Content("~/Resource/photo/templates/css/photoquery.css")" rel="stylesheet" type="text/css" />
                    <div id="photoquery">
                        <ul >

                            <li>
                                <div class="fang" style="width:160px;height:120px">
                                    <div class="picFit" style="width:160px;height:120px">
                                        <a href="../../photo/html/?44.html" target="_self" ><img src="@Url.Content("~/Resource/photo/pics/20100111/1263189240.gif")" style="width:160px;height:120px" border="0" /></a>
                                    </div>
                                </div>
                                <div class="title"><a href="../../photo/html/?44.html" target="_self"   >配套资格证</a></div>
                            </li>
 
                            <li>
                                <div class="fang" style="width:160px;height:120px">
                                    <div class="picFit" style="width:160px;height:120px">
                                        <a href="../../photo/html/?43.html" target="_self" ><img src="@Url.Content("~/Resource/photo/pics/20100111/1263189228.gif")" style="width:160px;height:120px" border="0" /></a>
                                    </div>
                                </div>
                                <div class="title"><a href="../../photo/html/?43.html" target="_self"   >配套资格证</a></div>
                            </li>
 
                            <li>
                                <div class="fang" style="width:160px;height:120px">
                                    <div class="picFit" style="width:160px;height:120px">
                                        <a href="../../photo/html/?42.html" target="_self" ><img src="@Url.Content("~/Resource/photo/pics/20100111/1263189198.gif")" style="width:160px;height:120px" border="0" /></a>
                                    </div>
                                </div>
                                <div class="title"><a href="../../photo/html/?42.html" target="_self"   >龙头企业</a></div>
                            </li>
 
                            <li>
                                <div class="fang" style="width:160px;height:120px">
                                    <div class="picFit" style="width:160px;height:120px">
                                        <a href="../../photo/html/?41.html" target="_self" ><img src="@Url.Content("~/Resource/photo/pics/20100111/1263189185.gif")" style="width:160px;height:120px" border="0" /></a>
                                    </div>
                                </div>
                                <div class="title"><a href="../../photo/html/?41.html" target="_self"   >龙头企业</a></div>
                            </li>
 
                            <li>
                                <div class="fang" style="width:160px;height:120px">
                                    <div class="picFit" style="width:160px;height:120px">
                                        <a href="../../photo/html/?33.html" target="_self" ><img src="@Url.Content("~/Resource/photo/pics/20100107/1262855322.gif")" style="width:160px;height:120px" border="0" /></a>
                                    </div>
                                </div>
                                <div class="title"><a href="../../photo/html/?33.html" target="_self"   >认证证书</a></div>
                            </li>
 
                            <li>
                                <div class="fang" style="width:160px;height:120px">
                                    <div class="picFit" style="width:160px;height:120px">
                                        <a href="../../photo/html/?32.html" target="_self" ><img src="@Url.Content("~/Resource/photo/pics/20100107/1262855311.gif")" style="width:160px;height:120px" border="0" /></a>
                                    </div>
                                </div>
                                <div class="title"><a href="../../photo/html/?32.html" target="_self"   >认证证书</a></div>
                            </li>

                        </ul>
                        <script>
                            $(window).load(function () {
                                $().picFit("auto");
                            });
                        </script>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
