@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div id='content' style='width: 1002px; height: 440px; background: url(@Url.Content("~/Resource/effect/source/bg/cbg.png")) repeat-y; margin: 0px auto'>


    <!-- 自定义文本(缩进) -->

    <div id='pdv_17098' class='pdv_class' title='' style='width: 341px; height: 154px; top: 65px; left: 250px; z-index: 4'>
        <div id='spdv_17098' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="margin: 0; padding: 0; height: 100%; border: 0px  solid; background: ;">
                <div style="height: 25px; margin: 1px; display: none; background: ;">
                    <div style="float: left; margin-left: 6px; line-height: 25px; font-weight: bold; color: ">
                    </div>
                    <div style="float: right; margin-right: 10px; display: none">
                        <a href="-1" style="line-height: 25px; color: ">更多</a>
                    </div>
                </div>
                <div style="padding: 0px">

                    <div style="padding: 0px; color: #505050; font: 12px/22px simsun, Arial; text-indent: 2em">
                        企业形象通用成品网站系列预装了网页模块、文章模块、产品模块、图文模块、招聘模块、广告模块等功能，预设了企业简介、
                        企业文化、最新动态、产品展示、经典案例、品牌加盟、人才招聘、联系方式、客户留言等栏目，用户也可根据自己的需
                        要方便调整；企业形象通用成品网站系列采用原创的企业形象宣传广告图片轮播，精心设计制作，符合大多数企业网站的需
                        求，是企业建立形象宣传和产品展示网站的最佳之选...
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- 产品列表滑动门10 -->

    <div id='pdv_17101' class='pdv_class' title='最新产品' style='width: 950px; height: 154px; top: 284px; left: 27px; z-index: 5'>
        <div id='spdv_17101' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="margin: 0; padding: 0; height: 100%; border: 0px  solid; background: ;">
                <div style="height: 25px; margin: 1px; display: none; background: ;">
                    <div style="float: left; margin-left: 6px; line-height: 25px; font-weight: bold; color: ">
                        最新产品
                    </div>
                    <div style="float: right; margin-right: 10px; display: inline">
                        <a href="product/class/" style="line-height: 25px; color: ">更多</a>
                    </div>
                </div>
                <div style="padding: 0px">

                    <link href="@Url.Content("~/Resource/product/templates/css/productroll10.css")" type="text/css" rel="stylesheet">
                    <script src="@Url.Content("~/Resource/product/js/productroll10.js")" type="text/javascript"></script>
                    <div class="productlistx">
                        <div class="blkproductlistx">
                            <div class="LeftButton" id="LeftArr1"></div>
                            <div class="Cont" id="ISL_Cont_11" style="overflow: hidden;">

                                <div class="box">
                                    <div class="fang">
                                        <a href="product/html/?94.html" target="_self">
                                            <img src="@Url.Content("~/Resource/product/pics/20111228/1325037644.jpg")" width="150px" height="110px"></a>
                                    </div>
                                    <a href="" target="_self" class="prodtitle">产品应用案例</a>
                                </div>

                                <div class="box">
                                    <div class="fang">
                                        <a href="product/html/?93.html" target="_self">
                                            <img src="@Url.Content("~/Resource/product/pics/20111228/1325037627.jpg")" width="150px" height="110px"></a>
                                    </div>
                                    <a href="" target="_self" class="prodtitle">产品应用案例</a>
                                </div>

                                <div class="box">
                                    <div class="fang">
                                        <a href="product/html/?92.html" target="_self">
                                            <img src="@Url.Content("~/Resource/product/pics/20111228/1325037618.jpg")" width="150px" height="110px"></a>
                                    </div>
                                    <a href="" target="_self" class="prodtitle">产品应用案例</a>
                                </div>

                                <div class="box">
                                    <div class="fang">
                                        <a href="product/html/?91.html" target="_self">
                                            <img src="@Url.Content("~/Resource/product/pics/20111228/1325037574.jpg")" width="150px" height="110px"></a>
                                    </div>
                                    <a href="" target="_self" class="prodtitle">产品应用案例</a>
                                </div>

                                <div class="box">
                                    <div class="fang">
                                        <a href="product/html/?90.html" target="_self">
                                            <img src="@Url.Content("~/Resource/product/pics/20111228/1325037552.jpg")" width="150px" height="110px"></a>
                                    </div>
                                    <a href="" target="_self" class="prodtitle">我的产品名称</a>
                                </div>

                                <div class="box">
                                    <div class="fang">
                                        <a href="product/html/?85.html" target="_self">
                                            <img src="@Url.Content("~/Resource/product/pics/20100720/1279603682.jpg")" width="150px" height="110px"></a>
                                    </div>
                                    <a href="" target="_self" class="prodtitle">我的产品名称</a>
                                </div>

                            </div>
                            <div class="RightButton" id="RightArr1"></div>
                            <script language="javascript" type="text/javascript">
<!--//--><![CDATA[//><!--
    var scrollPic_03 = new ScrollPic();
    scrollPic_03.scrollContId = "ISL_Cont_11"; //内容容器ID
    scrollPic_03.arrLeftId = "LeftArr1";//左箭头ID
    scrollPic_03.arrRightId = "RightArr1"; //右箭头ID

    scrollPic_03.frameWidth = 950;//显示框宽度
    scrollPic_03.pageWidth = 159; //翻页宽度

    scrollPic_03.speed = 10; //移动速度(单位毫秒，越小越快)
    scrollPic_03.space = 10; //每次移动像素(单位px，越大越快)
    scrollPic_03.autoPlay = true; //自动播放
    scrollPic_03.autoPlayTime = 3; //自动播放间隔时间(秒)

    scrollPic_03.initialize(); //初始化

    //--><!]]>
                            </script>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- 自定图片(原尺寸) -->

    <div id='pdv_17102' class='pdv_class' title='图片' style='width: 208px; height: 141px; top: 68px; left: 28px; z-index: 6'>
        <div id='spdv_17102' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="margin: 0; padding: 0; height: 100%; border: 0px  solid; background: ;">
                <div style="height: 25px; margin: 1px; display: none; background: ;">
                    <div style="float: left; margin-left: 6px; line-height: 25px; font-weight: bold; color: ">
                        图片
                    </div>
                    <div style="float: right; margin-right: 10px; display: none">
                        <a href="-1" style="line-height: 25px; color: ">更多</a>
                    </div>
                </div>
                <div style="padding: 0px">


                    <img src="@Url.Content("~/Resource/diy/pics/20130424/1366797392.png")" border="0" />

                </div>
            </div>

        </div>
    </div>

    <!-- 空白边框 -->

    <div id='pdv_17103' class='pdv_class' title='空白边框' style='width: 567px; height: 34px; top: 14px; left: 26px; z-index: 7'>
        <div id='spdv_17103' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="border: 0px; height: 100%; padding: 0; margin: 0; background: url(@Url.Content("~/Resource/base/border/813/images/title.jpg")) 0px 0px no-repeat">
                <div style="height: 44px; border: 0px; padding: 0; margin: 0; background: url(@Url.Content("~/Resource/base/border/813/images/title.jpg")) 0px 0px no-repeat">
                    <div style="float: right; width: 33px; height: 33px; background: url(@Url.Content("~/Resource/base/border/813/images/title.jpg")) -967px 0px no-repeat;">
                        <a href="page/html/company.php" style="display: inline;">
                            <img src="@Url.Content("~/Resource/base/border/813/images/more.jpg")" style="border: 0px; padding-top: 6px;"></a>
                    </div>
                </div>
                <div style="margin: 0px; padding: 0px">
                    &nbsp;
                </div>
            </div>

        </div>
    </div>

    <!-- 空白边框 -->

    <div id='pdv_17105' class='pdv_class' title='空白边框' style='width: 949px; height: 37px; top: 235px; left: 25px; z-index: 9'>
        <div id='spdv_17105' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="border: 0px; height: 100%; padding: 0; margin: 0; background: url(@Url.Content("~/Resource/base/border/814/images/title.jpg")) 0px 0px no-repeat">
                <div style="height: 44px; border: 0px; padding: 0; margin: 0; background: url(@Url.Content("~/Resource/base/border/814/images/title.jpg")) 0px 0px no-repeat">
                    <div style="float: right; width: 33px; height: 33px; background: url(@Url.Content("~/Resource/base/border/814/images/title.jpg")) -967px 0px no-repeat;">
                        <a href="product/class" style="display: inline;">
                            <img src="@Url.Content("~/Resource/base/border/814/images/more.jpg")" style="border: 0px; padding-top: 6px;"></a>
                    </div>
                </div>
                <div style="margin: 0px; padding: 0px">
                    &nbsp;
                </div>
            </div>

        </div>
    </div>

    <!-- 标题图片摘要(动态) -->

    <div id='pdv_17106' class='pdv_class' title='' style='width: 345px; height: 166px; top: 62px; left: 627px; z-index: 12'>
        <div id='spdv_17106' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="margin: 0; padding: 0; height: 100%; border: 0px  solid; background: ;">
                <div style="height: 25px; margin: 1px; display: none; background: ;">
                    <div style="float: left; margin-left: 6px; line-height: 25px; font-weight: bold; color: ">
                    </div>
                    <div style="float: right; margin-right: 10px; display: inline">
                        <a href="news/class/" style="line-height: 25px; color: ">更多</a>
                    </div>
                </div>
                <div style="padding: 0px">

                    <link href="@Url.Content("~/Resource/news/templates/css/newslist26.css") rel="stylesheet" type="text/css" />
                    <script language="javascript" src="@Url.Content("~/Resource/news/js/newslist26.js")"></script>
                    <ul class="newslist26">

                        <li>
                            <img src="@Url.Content("~/Resource/news/pics/20130408/1365417518.jpg")" width="90px" height="60px"><div class="time">2010-01-25</div>
                            <a href="news/html/?381.html" target="_self">本公司参加第八十届广州商品交易会</a>
                            <div class="memo">本公司参加第八十届广州商品交易会本公司参加第八十届广州商品交易会</div>
                        </li>

                        <li>
                            <img src="@Url.Content("~/Resource/news/pics/20130408/1365417583.jpg")" width="90px" height="60px"><div class="time">2010-01-25</div>
                            <a href="news/html/?377.html" target="_self">中科院院士王教授来本公司访问调研</a>
                            <div class="memo">中科院院士王教授来本公司访问调研研中科院院士王教授来本公司访问调研</div>
                        </li>

                        <li>
                            <img src="@Url.Content("~/Resource/news/pics/20130408/1365417671.jpg")" width="90px" height="60px"><div class="time">2010-01-25</div>
                            <a href="news/html/?376.html" target="_self">本公司通过国家科技部高新技术企业</a>
                            <div class="memo">本公司通过国家科技部高新技术企业认证本公司通过国家科技部高新技术企业认</div>
                        </li>

                        <li>
                            <img src="@Url.Content("~/Resource/news/pics/20130408/1365417851.jpg")" width="90px" height="60px"><div class="time">2010-01-06</div>
                            <a href="news/html/?366.html" target="_self">某某公司新版网站全新改版成功</a>
                            <div class="memo">某某公司新版网站全新改版成功某某公司新版网站全新改版成功某某公司新版网</div>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>

    <!-- 空白边框 -->

    <div id='pdv_17107' class='pdv_class' title='空白边框' style='width: 348px; height: 37px; top: 14px; left: 627px; z-index: 13'>
        <div id='spdv_17107' class='pdv_content' style='overflow: hidden; width: 100%; height: 100%'>
            <div class="pdv_border" style="border: 0px; height: 100%; padding: 0; margin: 0; background: url(@Url.Content("~/Resource/base/border/815/images/title.jpg")) 0px 0px no-repeat">
                <div style="height: 36px; border: 0px; padding: 0; margin: 0; background: url(@Url.Content("~/Resource/base/border/815/images/title.jpg")) 0px 0px no-repeat">
                    <div style="float: right; width: 33px; height: 36px; background: url(@Url.Content("~/Resource/base/border/815/images/title.jpg")) -967px 0px no-repeat;">
                        <a href="news/class/" style="display: inline;">
                            <img src="@Url.Content("~/Resource/base/border/815/images/more.jpg")" style="border: 0px; padding-top: 6px;"></a>
                    </div>
                </div>
                <div style="margin: 0px; padding: 0px">
                    &nbsp;
                </div>
            </div>

        </div>
    </div>
</div>
